body,html{
    width: 100%;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    font-size: 16px;
    font-weight: 400;
}
*{
    padding: 0px;
    margin: 0px;
}
body *{
    overflow: hidden;
}
.form,.infoPanel{
    margin: 0 auto;
    width: 100%;
}
.infoPanel{
    display: none;
}
.helpPanel{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: none;
}
.helpPanel_top{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    padding: 5px 15px;
    line-height: 44px;
    height: 44px;
    font-size: 18px;
    border-bottom: 1px solid #e0e0e0;
}
.helpPanel_top>a{
    width: 26px;
    height: 26px;
    margin: 9px 0px;
    float: right;
}
.helpPanel_top>a>img{
    width: 26px;
    height: 26px;
    float: left;
}
#helpFrame{
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: calc(100% - 55px);
    border: none;
}
.helpPanel_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 44px;
    height: 44px;
    font-size: inherit;
    border-top: 1px solid #e0e0e0;
}
.solveFailed{
    width: 100%;
    height: 44px;
    background-color: #ff5b5b;
    color: #ffffff;
    border: none;
}
.step,.info{
    position: relative;
    font-size: 16px;
    line-height: 44px;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid #e0e0e0;
}
.name,.info>label{
    width: 95px;
    text-align: left;
    float: left;
}
.info>label:not(.title),.info>input:not(.finishOrder){
    width: calc(100% - 95px);
}
.select-view{
    width: calc(100% - 44px - 95px);
    float: left;
    color: #777;
}
.select-view>label.red{
    padding: 0 5px;
}
.select{
    width: 100%;
    line-height: 44px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    color: inherit;

}
.link>img{
    width: 26px;
    height: 26px;
    margin: 9px 2px;
    float: left;
}
.link{
    width: 44px;
    text-align: left;
    float: right;
    text-decoration: none;
    color: #009fe8;
    cursor: pointer;
}
.errorMessage{
    width: calc(100% - 44px - 95px - 30px);
    padding:3px;
    margin-top: 10px;
    margin-left: 110px;
    color: #ff5b5b;
    font-size: 14px;
    line-height: 18px;
    height: 22px;
    overflow: hidden;
    display: none;
}
.errorMessage>img{
    height: 18px;
    margin: 0px 3px;
    position: relative;
    float: left;
}
.submit{
    width: calc(100% - 44px - 95px - 30px);
    background-color: #009fe8;
    height: 44px;
    margin-top: 10%;
    margin-left: 110px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.finishOrder{
    width: calc(100% - 44px - 95px - 30px);
    background-color: #ff5b5b;
    height: 44px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
select.select{
    height: 44px;
}
input.select{
    padding: 0px 5px;
}
textarea.select{
    padding: 10px 5px;
    line-height: 24px;
    resize: none;
}
label.red{
    color: #ff5b5b;
}
.hide{
    display: none;
}