body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
button{
    cursor: pointer;
}
.left-index,.top-index,.adcenter{
    background-color: rgb(248, 248, 248);
}
.left-index{
    border-right: 1px solid #e7e7e7;
}
.top-index{
    border-bottom: 1px solid #e7e7e7;
}
.left-index a{
    border-bottom: 1px solid #e7e7e7;
}
.left-index a {
    position: relative;
    display: block;
    padding: 10px 15px;
    width: 250px;
}
.left-index a:hover,.left-index a:active {
    background-color: #eeeeee;
}
.left-index i {
    margin-right: 6px;
}
a{
    text-decoration: none;
}
a {
    color: #337ab7;
}
a:focus, a:hover {
    color: #23527c;
}
.icon-not-first{
    position: relative;
    left:-4px;
}
.icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.adcenter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
}
.top-index{
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1000;
}
.top-left-index{
    height: 50px;
    float: left;
}
.top-right-index{
    height: 50px;
    float: right;
}
.top-right-index ul{
    line-height: 50px;
    padding: 0 10px;
}
.top-right-index li{
    line-height: 50px;
    padding: 0 15px;
}
.left-index{
    position: absolute;
    top: 140px;
    left: 0;
}
.center-index{
    position: absolute;
    top: 140px;
    left: 251px;
    right: 0;
}
.center-index .content{
    width:calc(100% - 30px);
    height: calc(100% - 40px);
    margin: 20px 15px;
}
.admin-name{
    color: #5e5e5e;
    background-color: transparent;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.admin-name:hover {
    color: #5e5e5e;
    background-color: transparent;
}
.top-right-index li{
    position: relative;
}
.options{
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.options li{
    padding: 0px;
}
.options a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    pointer-events: auto;
    cursor: pointer;
}
.options a:hover{
    color: #262626;
    background-color: #f5f5f5;
}
.options i{
    margin-right: 2px;
}
li.divider{
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.hidden{
    display: none;
}
.left-index .icon-right,.left-index .icon-down,.left-index .icon-up{
    margin: 0px;
    float: right;
}
.left-index .second-level a{
    padding-left: 37px;
}
.options ul{
    padding: 0px;
}
.panel-default{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default .header{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default .body{
    padding: 15px;
}
.panel-default .header>.iconfont:first-child{
    margin-right: 6px;
}
.panel-default .header .select{
    float:right;
    position: relative;
}
.btn{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 1px 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
.panel-default .footer{
    padding: 10px 15px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-align: right;
}
.pageButton{
    position: relative;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}
.pageButton:hover{
    z-index: 10;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.pageActive{
    z-index: 10;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
    color:#5e5e5e;
}
.select>.options{
    margin-top:10px;
}
.table{
    width: 100%;
    text-align: left;
    border-collapse: separate !important;
}
table{
    border-spacing: 0;
    background-color: transparent;
    table-layout: fixed;
}
.table td,.table th,.table tbody,.table{
    border: 1px solid #ddd;
}
.table td,.table th{
    padding: 8px 18px;
    line-height: 1.42857143;
}
tr.odd{
    background-color: #f9f9f9;
}
.table th,.table td{
    border-left-width: 0;
    border-bottom-width: 0;
}
.table th:last-child,.table td:last-child{
    border-right-width: 0;
}
.table th{
    border-top-width: 0;
}
tbody tr:hover {
    background-color: #f5f5f5;
}
.footer button{
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
}
.left{
    float: left;
}
.right{
    float: right;
}
label.left{
    width: 40%;
    overflow: hidden;
    text-align: left;
}
label.right{
    width: 60%;
    overflow: hidden;
    text-align: right;
}
th,td{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
i.action{
    cursor: pointer;
}
.lid{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: rgba(240,240,240,0.8);
}
.lid>div{
    box-shadow: 0 2px 3px 0 rgba(147,147,147,.5);
    position: relative;
}
.lid .form{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    width: 460px;
}
.lid .dialog{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color: #FFFFFF;
    width: 460px;
    height: 160px;
    border-radius: 5px;
}
.lid .body{
    padding: 5px 10px;
    height: calc(100% - 51px - 60px);
}
.lid .header{
    padding: 5px 20px;
}
.lid .footer{
    padding: 10px 20px;
}
.lid .header{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    color: #5e6d82;
    border-bottom: solid 1px #e0e0e0;
    padding: 5px 20px;
}
.lid .header i{
    float: right;
}
.lid .body .info{
    width: 100%;
    padding: 5px 10px;
}
.lid .body .info>span,.lid .body .info>input{
    width: 100%;
    line-height: 30px;
}
.lid .body .info>input{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 3px 8px;
}
.lid .footer{
    text-align: left;
}
.lid .footer>button{
    border-radius: 5px;
    color: #FFFFFF;
    border: 1px solid transparent;
}
.lid .footer>button{
    width: 200px;
    height: 40px;
    display: inline-block;
}
.editAction{
    background-color: #337ab7;
}
.deleteAction{
    background-color: #ff5b5b;
}
.cancelAction{
    background-color: rgb(221, 221, 221);
    float: right;
}
